{{#if updatePostForm}}
  <form>
    <div class="form-group">
      <label for="question">Update Question:</label>
      {{input value=question id="question" placeholder=question.question}}
    </div>
    <div class="form-group">
      <label for="author">Update Author:</label>
      {{input value=author id="author" placeholder=question.author}}
    </div>
    <div class="form-group">
      <label for="details">Update Details:</label>
      {{input value=details id="details" placeholder=question.details}}
    </div>
    <button {{action 'updateQuestion'}}>Save</button>
  </form>
{{else}}
  <button {{action 'updatePostForm'}}>Update</button>
{{/if}}
