<h2>{{model.question}}</h2>
<h4>Author: {{model.author}}</h4>
<h5>Details: {{model.details}}</h5>
<br>
<button  {{action 'destroyQuestion' model}}>Delete</button>
{{update-form updateQuestion="updateQuestion" question=model}}
<hr>
{{new-answer saveAnswer="saveAnswer" question=model}}
<hr>
{{#each model.answers as |answer|}}
    {{answer-tile answer=answer deleteAnswer="deleteAnswer"}}
{{/each}}
